<% provide(:title, " ") %>
<h1> Sample RoR Pastebin App </h1>
<h2> This is a <%= link_to "bootstrap", 'http://twitter.github.io/bootstrap/', class: 'light-text' %> powered <%= link_to "Rails app", 'http://rubyonrails.org/', class: 'dark-text' %> developed by Manjunath Mt</h2>
<div class="center">
	<%= link_to "Paste it!", pasteit_path, class: "btn btn-primary btn-large" %>
</div>