<% provide(:title, " ") %>
<h1> Sample RoR Pastebin App </h1>
<h2> This is a bootstrap powered Rails app developed by Chris Howart</h2>
<div class="center">
	<%= link_to "Paste it!", pasteit_path, class: "btn btn-primary btn-large" %>
</div>