@import "font-awesome";
@import "bootstrap";


 body {  
        padding-top: 60px;  
        padding-bottom: 40px;  
         background-image: url(test3.png);
   background-repeat:repeat;  
      }  
      .nav li {  
      padding-top: 5px;  
      
      }  

     ul.pull-right {

      padding-right: 30px;
      color: #000;
      }
        
      .sidebar-nav {  
        padding: 9px 0;  
      }  
      
  
 

#logo {
  float:left;
  padding-top:12px;
  padding-left:17px;
  font-size: 1.7em;
  color:#505050 ;
  font-family: serif;
  letter-spacing: 0.5px;
  font-weight: bolder; 
  text-shadow: 0px 0px 20px #ccc;
  -moz-text-shadow: 0px 0px 20px #ccc;
  &:hover {
   color:#5E0320;
   text-decoration:none;
   text-shadow: 0px 0px 20px #ccc;
   }

}

.img-logo {
  
  float:left;
    padding-top: 12px;
  color: #5E0320 ;
  &:hover {
     
     text-decoration: none;
     color: #5E0320;
  }

  
}


/* Main Page stuff */

.contenter {
  margin-top: 20px;

  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity:0.9;
  filter: alpha(opacity=90);
}

.left {
  text-align: left;
  }


.center {
  text-align: center;

.center h1 {
  margin-bottom: 10px;
 }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Fix hero-unit h1 class */
.hero-unit {
  
  h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
  color: #5E0320 ;
  }  
 }

 /* footer */



#footer {position: relative;
  margin-top:50px;
  min-height: 50px;
  clear:both;
background: -webkit-linear-gradient(top, $navbarInverseBackgroundHighlight, $navbarInverseBackground); 
background:   -moz-linear-gradient(top,  $navbarInverseBackgroundHighlight, $navbarInverseBackground);
  border-radius: 10px;
 -webkit-box-shadow: 0px 0px 5px  red;
 -moz-box-shadow: 0px 0px 5px  red;
  box-shadow: 0px 0px 5px  red;
 
  } 

.footnote-left {
float:left;
   margin-top: 12px;
   font-size: 1.1em;
  line-height: 1.7em;
  margin-left: 20px;
  font-family: Monospace;
  color: green;
}

.dark-text {
  color:  red;
   &:hover {
  text-decoration:none;
  color:orange;
  
  }
}

  .light-text {
    color: green;
    text-decoration: none;
    &:hover {
  text-decoration:none;
  color: #A7C942;

  }
 
}

.text-align {
      font-size: 1.1em;
      margin-right:5px;

      
   }
.footnote-right {
  float:right;
   margin-top: 12px;
   font-size: 1.1em;
  line-height: 1.7em;
  margin-right: 40px;
  font-family: Monospace;
  color: green;
}

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
  
}

input {
  height: auto !important;
}

.text-field {

  width: 130%;
  border: 3px solid green;
  font-family: Tahoma, sans-serif;
  background: #5C5C5C;
  color: #EBF6FD;

  &:active {

  border: none;
  
}

}
label {
  
  font-size: 1.2em;
  letter-spacing: -1px;
 margin-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #999;
  text-align: left;
}

/* show text */
.show-text {
margin: 50px 10px 40px 10px ;
color : #1F1F1F;  
}

.show-content {
clear:both;
  padding: 20px 10px 20px 20px;
  background: #5C5C5C;
  color: #EBF6FD;
  -webkit-box-shadow: -1px 1px 10px green;
  -moz-box-shadow: -1px 1px 10px green;
  box-shadow: -1px 1px 10px green;
  font-size: .8em;
  
  min-height: 400px;
 
  border-radius: 8px;
}

.step-down {
  margin-bottom: 80px;

}
.step-down-left {
  float:left;
  
}

.step-down-right {
float:right;
margin-top:5px;


  
  ul {

  
    li {
      float:left;
      margin-right:20px;
      margin-left: 30px;
      list-style:none;
    }
  }
}

.perm-url {
  
  font-size: 0.9em;
  color: #58636A;
  float:right;
}

/* index page */

.left-content {
 
}


.table-outline {
  margin: 20px 0px 10px 0px;
  -webkit-box-shadow: 0px 0px 10px #505050;
  -moz-box-shadow: 0px 0px 0px 10px #505050;
  box-shadow: 0px 0px 0px 10px #505050;
}

.tabledividerleft {
   -webkit-box-shadow: 1px 0px 20px #BBBBBB;
   -moz-box-shadow: 1px 0px 20px #BBBBBB;
  box-shadow: 1px 0px 20px #BBBBBB;
   border-radius: 10px;
    
}

.tabledividerright {
  -webkit-box-shadow: 1px 0px 20px #BBBBBB;
  -moz-box-shadow: 1px 0px 20px #BBBBBB;
  box-shadow: 1px 0px 20px #BBBBBB;
 
   border-radius: 5px;

}


#error-explanation {
  color: #f00;
  ul {
    li {
      
      }
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}