  <footer id="footer">
    <div class="footnote-left">
      [pastebin(master)]$ <span class="dark-text">Developed by Chris Howart ...</span>
    </div>
    <div class="footnote-right">
      Proudly Powered by <%= link_to 'Rails', 'http://rubyonrails.org/', class: 'dark-text' %> </div> 

  </footer>